
body {
    background: rgb(0,150,136);
    background: linear-gradient(0deg, rgba(0,150,136,1) 0%, rgba(0,0,0,1) 100%);
}

*{
    margin: 0;
    padding: 0
}
section{
    position: relative;
    margin: 50px auto;
    width: 240px;
    padding: 50px 30px;
    height: 160px;
    background: #9999eb;
    font-weight: bold;
    box-shadow: inset -5px 5px 10px , inset -7px 5px 5px -5px rgba(255,255,255,.4), inset -10px -35px 8px -25px rgba(0,0,0,.3), inset -14px 0px 80px -5px rgba(0,0,0,.3);
        color:white;
    font-family: 'Crimson Pro', serif;
}
h2{
    margin-top: 6px;
    text-align: center;
    color:white;
  font-family: 'Crimson Pro', serif;
  font-size:30px;
}
p,h1{
    text-align: center;
    color:white;
}
div{
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    overflow: hidden;
    transition: all 1.5s ease
}
.one{top: 0;}
.two{bottom: 0;}
img{
    width: 100%;
    height: 101%;
    position: absolute;
}
.one img{top: 0}
.two img{bottom: 0}
section:hover .one{top:-80px;}
section:hover .two{bottom:-80px;}

a{
  width:300px;
  height:40px;
  background-color:#009688;
  text-align:center;
  display:flex;
  align-items:center ;
  justify-content:center;
  text-transform: uppercase;
  text-decoration:none;
  backdrop-filter:blur(40px);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 500px;
  bottom: 20px;
  color: white;
  z-index:;
  box-shadow: inset -5px 5px 10px , inset -7px 5px 5px -5px rgba(255,255,255,.4), inset -10px -35px 8px -25px rgba(0,0,0,.3), inset -14px 0px 80px -5px rgba(0,0,0,.3);
  font-family: 'Crimson Pro', serif;
  }

     
    .t{
     top:65px;
     z-index:9;
    } 
        

             
